.column-header{
    font-size: 200%;
    margin-bottom: 3.5%;
    margin-top: 2%;
}
.btn-container,.btn-container2{
    display: flex;
    justify-content: space-between;
    margin-top: 2%;
}

.btns{
    font-size: 150%;
    cursor: pointer;
    margin-left: -50%;
}

.friends-column, .chats-column{
    width: 32vw;
}
